@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
  

:root {
    background: #222;
    color: #ccc;
}

.title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 40px;
}

.subtitle {
    text-align: center;
    margin: 20px 0px;
}

.small-subtitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

a {
    color: #4183c4;
}

.page {
    margin: 0 auto;
    width: 800px;

    @media screen and (max-width: 800px) {
        & {
            padding: 10px;
            width: 90%;
        }
    }
}

* {
    font-family: system-ui;
}

toc {
    display: flex;
    margin-right: auto;
    margin-left: 200px;
    width: 70%;
    column {
        width: 50%;
    }
    @media screen and (max-width: 800px) {
        & {
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 80%;
        }
    }
}

pre {
    padding: 15px;
    border-radius: 10px;
    overflow: auto;
}

code > * {
    font-family: 'JetBrains Mono';
}

.zola-anchor {
    margin-left: -30px;
    font-size: 1.25rem;
    opacity: 0;
 }

h1:hover, h2:hover, h3:hover, h4:hover {
    .zola-anchor {
       opacity: 1;
    }
}